<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Issue and Forget</title>
</head>

<body>
  <form action="/login" method="post">
    <label for="id">ID</label>
    <input type="text" name="id" id="id">

    <label for="password">パスワード</label>
    <input type="password" name="password" id="password">

    <button type="submit">ログイン</button>
  </form>
</body>

</html>